HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### generated(Qclass) ###
src/main/generated/com/myspring/springmaster/dataAccess/entity/*
src/main/generated/com/myspring/springmaster/dataAccess/mapper/*
!src/main/generated/com/myspring/springmaster/dataAccess/entity/.gitkeep
!src/main/generated/com/myspring/springmaster/dataAccess/mapper/.gitkeep

### test folder ###
src/test/*

### naverMapAPI 삭제 가능할듯 ###
src/main/resources/static/naverAPI/*

dataAPI/module/config.py