<div id="sb-footer">
    <section class="sb-section sb-section-opt-dark option-logo-brand-name-hide option-section-background-image-fixed option-nav-link-hover-underline option-align-left option-link-decoration-border-bottom-static option-button-none option-footer-icons-show option-animate-icons-grow option-icons-size-md option-icons-color-accent">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-footer-simple-social">
                    <div class="sb-column-content">
                        <p>
                        </p>
                        <div class="sb-footer sb-footer-simple-social vcard sb-section-alienable">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sb-footer-simple-social__nav-col">
                                    <div class="sb-footer-simple-social__nav-wrapper">
                                        <h2 class="sb-title sb-footer__branding">
                                            <a class="brand sb-brand-default org" href="/">
                                                MyHome
                                            </a>
                                        </h2>
                                        <nav aria-label="Secondary" class="sb-footer__nav">
                                            <ul class="sb-footer__nav-list">
                                                <li class="">
                                                    <a class="sb-link  " href="/index#services" target="">
                                                        Services
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="sb-link  " href="/scheduling" target="">
                                                        Schedule appointment
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="sb-link  " href="/intake-form" target="">
                                                        Complete intake
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="sb-link  " href="/index#contact" target="">
                                                        Contact
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>