<div id="sb-navigation" class="sb-nav--fixed">
    <section class="sb-section sb-section-opt-light option-section-background-image-fixed option-nav-links-display-right option-link-decoration-border-bottom-static option-nav-link-hover-underline-fade-in option-nav-fixed" style="transform: none;">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-none sb-row-opt-padding-bottom-none sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-simple-top-nav">
                    <div class="sb-column-content">
                        <div class="wrapper sb-top-header items-can-collapse">
                            <a class="sb-top-header__brand brand" href="/">
                                MyHome
                            </a>
                            <button aria-label="Show navigation" class="sb-mobile-nav-btn" id="sb-mobile-nav-btn" type="button">
                                <span class="sb-mobile-nav-btn__line"></span>
                            </button>
                            <nav aria-label="Main" class="sb-top-header__nav sb-nav">
                                <button aria-label="Hide navigation" class="sb-nav__close" type="button"></button>
                                <ul class="sb-nav__list">
                                    <li class="sb-nav__item   ">
                                        <a class=" sb-link sb-nav__link " href="/house/list" target="">
                                            List
                                        </a>
                                    </li>
                                    <li class="sb-nav__item   ">
                                        <a class=" sb-link sb-nav__link " href="/house/near" target="">
                                            Near
                                        </a>
                                    </li>
                                    <li class="sb-nav__item   ">
                                        <a class=" sb-link sb-nav__link " href="/house/mapview" target="">
                                            MapView
                                        </a>
                                    </li>
                                    <li class="sb-nav__item sb-nav__list-hidden is-hidden">
                                        <a aria-label="Show more navigation links" class="sb-nav__link sb-link" href="#">More <span class="sb-nav__sub-toggle"></span></a>
                                        <ul class="sb-nav__sub sb-nav__list-hidden-links"></ul>
                                    </li>
                                    <li class="sb-nav__item sb-nav__btn  ">
                                        <a class=" sb-link sb-button sb-button--nav " href="/contact" target="">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>