<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/style.css" rel="stylesheet">
    <title>MyHome | Home</title>
</head>

<body>
<div id="sb-navigation" class="sb-nav--fixed">
    <section class="sb-section sb-section-opt-light option-section-background-image-fixed option-nav-links-display-right option-link-decoration-border-bottom-static option-nav-link-hover-underline-fade-in option-nav-fixed" style="transform: none;">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-none sb-row-opt-padding-bottom-none sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-simple-top-nav">
                    <div class="sb-column-content">
                        <div class="wrapper sb-top-header items-can-collapse">
                            <a class="sb-top-header__brand brand" href="/">
                                MyHome
                            </a>
                            <button aria-label="Show navigation" class="sb-mobile-nav-btn" id="sb-mobile-nav-btn" type="button">
                                <span class="sb-mobile-nav-btn__line"></span>
                            </button>
                            <nav aria-label="Main" class="sb-top-header__nav sb-nav">
                                <button aria-label="Hide navigation" class="sb-nav__close" type="button"></button>
                                <ul class="sb-nav__list">
                                    <li class="sb-nav__item   ">
                                        <a class=" sb-link sb-nav__link " href="/#list" target="">
                                            List
                                        </a>
                                    </li>
                                    <li class="sb-nav__item   ">
                                        <a class=" sb-link sb-nav__link " href="/#near" target="">
                                            Near
                                        </a>
                                    </li>
                                    <li class="sb-nav__item   ">
                                        <a class=" sb-link sb-nav__link " href="/#mapview" target="">
                                            MapView
                                        </a>
                                    </li>
                                    <li class="sb-nav__item sb-nav__list-hidden is-hidden">
                                        <a aria-label="Show more navigation links" class="sb-nav__link sb-link" href="#">More <span class="sb-nav__sub-toggle"></span></a>
                                        <ul class="sb-nav__sub sb-nav__list-hidden-links"></ul>
                                    </li>
                                    <li class="sb-nav__item sb-nav__btn  ">
                                        <a class=" sb-link sb-button sb-button--nav " href="/#contact" target="">
                                            Contact
                                        </a>
                                    </li>
                                    <!-- 로그인하지 않은 경우 -->
                                    <li th:if="${isLoggedIn == null or !isLoggedIn}" class="sb-nav__item">
                                        <a class="sb-link sb-nav__link" href="/signin">Sign In</a>
                                    </li>
                                    <li th:if="${isLoggedIn == null or !isLoggedIn}" class="sb-nav__item">
                                        <a class="sb-link sb-nav__link" href="/signup">Sign Up</a>
                                    </li>

                                    <!-- 로그인한 경우 -->
                                    <li th:if="${isLoggedIn != null and isLoggedIn}" class="sb-nav__item">
                                        <a class="sb-link sb-nav__link" href="#" th:text="${userName}+' 님'"></a>
                                        <ul style="list-style-type: none; padding-left: 0;">
                                            <li>
                                                <a class="sb-link sb-nav__link" href="/signout" >Sign Out</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="sb-page-structure">
    <section id="home" class="sb-section sb-section-opt-dark has-background option-section-background-image-fixed option-align-left option-link-decoration-border-bottom-static option-width-default option-section-hero" style="min-height: 80vh;">
        <div class="sb-background" style="
            background-image:
                linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
              url('')">
        </div>
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-hero">
                    <div class="sb-column-content">
                        <div class="sb-content sb-hero option-width sb-section-alienable has-sb-hero__paragraph">
                            <div class="sb-hero__content-wrapper">
                                <h1 class="sb-title sb-hero__title aos-init aos-animate">MyHome</h1>
                                    <div class="sb-subtitle sb-hero__subtitle aos-init aos-animate">Discover Your Future Home with Public Housing</div>
                                <div class="sb-hero__paragraph aos-init aos-animate"></div>
                            </div>
                            <div class="sb-cta-wrapper sb-section-alienable">
                                    <span class="aos-init aos-animate">
                                        <a class="sb-cta-wrapper__btn sb-button sb-button--primary" href="/#list" rel=" " target="">View services</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="list" class="sb-section sb-section-opt-light option-columns-3col option-card-hover-animation-grow option-section-background-image-fixed option-image-color-hover-revert option-align-content-left option-link-decoration-border-bottom-static option-grid-align-default option-imagecrop-rectangle-landscape option-items-shadow option-imagesize-lg option-items-shadow-on-hover option-collection-title-decoration-arrow">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-items-grid">
                    <div class="sb-column-content">
                        <div class="sb-items-grid">
                            <div class="sb-items-grid__content option-width sb-section-alienable">
                                <div class="sb-section-title aos-init aos-animate">Explore your options</div>
                                <div class="sb-section-subtitle aos-init aos-animate">Discover diverse living spaces</div>
                                <div class="sb-paragraph aos-init aos-animate">
                                    <p>In this state, there should be more houses where you can utilize the slide function.</p>
                                </div>
                            </div>
                            <ul class="sb-items-grid__items items-grid sb-section-alienable">
                                <li class="items-grid__item aos-init aos-animate">
                                    <a aria-label="Read more" class="items-grid__item-body">
                                        <div class="items-grid__item-image">
                                            <figure class="option-image lazy">
                                                <img alt="Image Error" src="">
                                            </figure>
                                        </div>
                                        <div class="items-grid__item-content">
                                            <div class="items-grid__header h3">Name</div>
                                            <div class="items-grid__description">Description</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="items-grid__item aos-init aos-animate">
                                    <a aria-label="Read more" class="items-grid__item-body">
                                        <div class="items-grid__item-image">
                                            <figure class="option-image lazy">
                                                <img alt="Image Error" src="">
                                            </figure>
                                        </div>
                                        <div class="items-grid__item-content">
                                            <div class="items-grid__header h3">Name</div>
                                            <div class="items-grid__description">Description</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="items-grid__item aos-init aos-animate">
                                    <a aria-label="Read more" class="items-grid__item-body">
                                        <div class="items-grid__item-image">
                                            <figure class="option-image lazy">
                                                <img alt="Image Error" src="">
                                            </figure>
                                        </div>
                                        <div class="items-grid__item-content">
                                            <div class="items-grid__header h3">Name</div>
                                            <div class="items-grid__description">Description</div>
                                        </div>
                                    </a>
                                </li>
                                <button style="background-color: white;margin: auto;border: none;" onclick="location.href='/house/list'">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#7193A7" class="bi bi-arrow-right-circle-fill position-absolute" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"></path>
                                    </svg>
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="near" class="sb-section sb-section-opt-light option-section-background-image-fixed option-image-align-center option-width-6col option-image-width-5col option-imagesize-mobile-lg option-align-left option-image-align-mobile-left option-link-decoration-border-bottom-static option-imagecrop-rectangle-portrait option-button-none option-imagesize-lg">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-text-image">
                    <div class="sb-column-content">
                        <div class="sb-text-image sb-section-alienable">
                            <div class="sb-text-image__content option-width">
                                <div class="sb-title sb-text-image__content-title aos-init aos-animate">Near</div>
                                <div class="sb-subtitle sb-text-image__content-subtitle aos-init aos-animate">가까운 곳의 행복주택을 찾아보세요</div>
                                <div class="sb-text-image__content-paragraph aos-init aos-animate">지정한 위치 주변의 행복주택 리스트를 볼 수 있어요.</div>
                                <div class="sb-text-image__content-cta">
                                    <div class="sb-cta-wrapper sb-section-alienable">
                                            <span class="aos-init aos-animate">
                                                <a class="sb-cta-wrapper__btn sb-button sb-button--secondary" href="/house/near">집 보러가기</a>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="sb-text-image__image aos-init aos-animate">
                                <figure class="option-image" style="background-image: url('/static/image/list.png')">
                                    <img src="/static/image/list.png" alt="Explore public housing">
                                </figure>
                                <div class="sb-text-image__image-caption"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mapview" class="sb-section sb-section-opt-light option-section-background-image-fixed option-image-align-center option-width-6col option-image-width-5col option-imagesize-mobile-lg option-align-left option-image-align-mobile-left option-link-decoration-border-bottom-static option-imagecrop-rectangle-portrait option-button-none option-imagesize-lg">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-text-image">
                    <div class="sb-column-content">
                        <div class="sb-text-image sb-section-alienable">
                            <div class="sb-text-image__image aos-init aos-animate">
                                <figure class="option-image" style="background-image: url('/static/image/mapview.png')">
                                    <img src="/static/image/mapview.png" alt="Image error">
                                </figure>
                                <div class="sb-text-image__image-caption"></div>
                            </div>
                            <div class="sb-text-image__content option-width">
                                <div class="sb-title sb-text-image__content-title aos-init aos-animate">Map view</div>
                                <div class="sb-subtitle sb-text-image__content-subtitle aos-init aos-animate">행복주택을 지도에서 선택해보세요</div>
                                <div class="sb-text-image__content-paragraph aos-init aos-animate">불편한 검색 없이 경기도에 있는 모든 행복주택을 지도에서 찾을 수 있습니다.</div>
                                <div class="sb-text-image__content-cta">
                                    <div class="sb-cta-wrapper sb-section-alienable">
                                            <span class="aos-init aos-animate">
                                                <a class="sb-cta-wrapper__btn sb-button sb-button--secondary" href="/house/mapview">집 보러가기</a>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="sb-section sb-section-opt-light option-section-background-image-fixed appointment-inline-view option-align-left option-link-decoration-border-bottom-static half-width-contact-form">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-contact-full">
                    <div class="sb-column-content">
                        <div class="contact-full">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-5">
                                    <div class="contact-full__form">
                                        <div class="sb-section-title sb-section-alienable aos-init aos-animate">Get in touch</div>
                                        <div class="sb-section-subtitle sb-section-alienable aos-init aos-animate">We're here to assist you!</div>
                                        <div class="sb-paragraph sb-section-alienable aos-init aos-animate">
                                            <p>Reach out for any inquiries or support.</p>
                                        </div>
                                        <form class="form js-form aos-init aos-animate" method="POST" action="https://b12.io/contact/send/">
                                            <div class="form__group  form__group--required">
                                                <label class="form__label contact-form__label">Name <span class="form__label-required" title="This field is required">*</span></label>
                                                <input required="" class="form__input contact-form__input" name="name" placeholder="Jane Smith" type="text" value="">
                                            </div>
                                            <div class="form__group  form__group--required">
                                                <label class="form__label contact-form__label">Email address <span class="form__label-required" title="This field is required">*</span></label>
                                                <input required="" class="form__input contact-form__input" name="from_email" placeholder="email@website.com" type="email" value="">
                                            </div>
                                            <div class="form__group  form__group--required">
                                                <label class="form__label contact-form__label">Phone number <span class="form__label-required" title="This field is required">*</span></label>
                                                <input required="" class="form__input contact-form__input" name="from_phone" placeholder="555-555-5555" type="tel" value="">
                                            </div>
                                            <div class="form__group">
                                                <label class="form__label contact-form__label">Message </label>
                                                <textarea class="form__input form__input--textarea contact-form__textarea" name="message" placeholder="" rows="4"></textarea>
                                            </div>
                                            <div class="form__group form__group--checkbox form__group--required">
                                                <div class="form__checkbox-error" id="checkbox-error-message-gdpr_consent-">
                                                    Please select at least one option.
                                                </div>
                                                <div class="form__input-checkbox-wrapper">
                                                    <input class="form__input form__input--checkbox" id="3e040677-855d-47d0-a6c5-972b2d518a3d-" name="I allow this website to store my submission so they can respond to my inquiry." type="checkbox" value="Checked">
                                                    <label class="form__label contact-form__label " for="3e040677-855d-47d0-a6c5-972b2d518a3d-">
                                                        I allow this website to store my submission so they can respond to my inquiry. <span class="form__label-required" title="This field is required">*</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <button class="sb-button sb-button--form contact-form__btn" type="submit">Submit</button>
                                            <input type="hidden" name="form_id" value=""><input type="hidden" name="next_page" value="https://myhome-fojd.b12sites.com/#success_UL_FORM_"><input type="text" name="sweet_auth_token" aria-hidden="true" aria-label="Auth token" style="display: none;"><input type="hidden" name="ajax" value="true">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="contact-full__location">
                                        <div class="contact-details vcard sb-section-alienable aos-init aos-animate">
                                            <div class="contact-details__row contact-details__contact">
                                                <div class="h3 contact-details__title">Get in touch</div>
                                                <div class="contact-details__email">
                                                    <a aria-label="Email us at l33gn21@gmail.com" class="email" href="mailto:l33gn21@gmail.com">l33gn21@gmail.com</a>
                                                </div>
                                            </div>
                                            <div class="contact-details__row contact-details__location">
                                                <div class="h3 contact-details__title">Location</div>
                                                <p class="adr contact-details__address">
                                                    <a aria-label="Our location at Hwaseong-si, 41 KR" href="https://www.google.com/maps/place/+Hwaseong-si+41+KR" rel="noreferrer" target="_blank">
                                                        <span>Hwaseong-si</span><span>, 41</span><span> KR</span>
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="contact-details__row contact-details__hours sb-hours-wrapper">
                                                <div class="h3 contact-details__title">Hours</div>
                                                <ol aria-label="Working hours" class="hours-list">
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Mon<span class="hidden-xs-down hidden-sm-down hidden-md-down">day</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">10:00pm</div>
                                                    </li>
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Tue<span class="hidden-xs-down hidden-sm-down hidden-md-down">sday</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">10:00pm</div>
                                                    </li>
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Wed<span class="hidden-xs-down hidden-sm-down hidden-md-down">nesday</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">10:00pm</div>
                                                    </li>
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Thu<span class="hidden-xs-down hidden-sm-down hidden-md-down">rsday</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">10:00pm</div>
                                                    </li>
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Fri<span class="hidden-xs-down hidden-sm-down hidden-md-down">day</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">10:00pm</div>
                                                    </li>
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Sat<span class="hidden-xs-down hidden-sm-down hidden-md-down">urday</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">6:00pm</div>
                                                    </li>
                                                    <li class="hours-list__item">
                                                        <div class="hours-list__day">Sun<span class="hidden-xs-down hidden-sm-down hidden-md-down">day</span></div>
                                                        <div class="hours-list__from">9:00am</div>
                                                        <div class="hours-list__dash">–</div>
                                                        <div class="hours-list__to">12:00pm</div>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="sb-footer">
    <section class="sb-section sb-section-opt-dark option-logo-brand-name-hide option-section-background-image-fixed option-nav-link-hover-underline option-align-left option-link-decoration-border-bottom-static option-button-none option-footer-icons-show option-animate-icons-grow option-icons-size-md option-icons-color-accent">
        <div class="container sb-container-fixed sb-container">
            <div class="row sb-row sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-row-opt-center">
                <div class="sb-column col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 sb-component-footer-simple-social">
                    <div class="sb-column-content">
                        <p>
                        </p>
                        <div class="sb-footer sb-footer-simple-social vcard sb-section-alienable">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sb-footer-simple-social__nav-col">
                                    <div class="sb-footer-simple-social__nav-wrapper">
                                        <h2 class="sb-title sb-footer__branding">
                                            <a class="brand sb-brand-default org" href="/">
                                                MyHome
                                            </a>
                                        </h2>
                                        <nav aria-label="Secondary" class="sb-footer__nav">
                                            <ul class="sb-footer__nav-list">
                                                <li class="">
                                                    <a class="sb-link  " href="/index#services" target="">
                                                        Services
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="sb-link  " href="/scheduling" target="">
                                                        Schedule appointment
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="sb-link  " href="/intake-form" target="">
                                                        Complete intake
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="sb-link  " href="/index#contact" target="">
                                                        Contact
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

<script th:inline="javascript">
    let list = [[${houseList}]]
    let house_images = list.map(function (item){return makeImageUrl(item.imageUrl)})
    let house_names = list.map(function(item){return item.name})
    let house_descriptions = list.map(function(item){return item.address});
    let house_url = list.map(function (item){return item.id});

    const houses = document.querySelectorAll('.sb-items-grid__items li');
    houses.forEach((house, index) => {
        const url = house.querySelector('.items-grid__item-body');
        url.href = "/house/detail/"+house_url[index];

        const img = house.querySelector('.option-image');
        img.style.backgroundImage = house_images[index]; // 이미지 경로 설정

        const header = house.querySelector('.items-grid__header');
        header.textContent = house_names[index]; // 헤더 텍스트 설정

        const description = house.querySelector('.items-grid__description');
        description.textContent = house_descriptions[index];  // 설명 텍스트 설정
    });

    function makeImageUrl(url){
        if(url === null || url === ''){
            return "url('/static/image/defaultHouse.png')";
        }
        return "url('" + url + "')";
    }
</script>
</html>